name: build

on:
  push:
    branches:
      - master
    paths:
      - ".github/**"
      - "src/**"
      - "test/**"
      - "*.cabal"
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        ghc-version:
          - "8.0.2"
          - "8.2.2"
          - "8.4.4"
          - "8.6.5"
          - "8.8.3"
          - "8.10.7"
          - "9.0.2"
          - "9.2.8"
          - "9.4.7"
          - "9.6.5"
          - "9.8.2"
          - "9.10.1"

    steps:
      - name: Clone repository
        uses: actions/checkout@v5

      - name: Install ghc-${{ matrix.ghc-version }}
        id: setup-haskell
        uses: haskell-actions/setup@v2
        with:
          ghc-version: ${{ matrix.ghc-version }}

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: |
            ${{ steps.setup-haskell.outputs.cabal-store }}
            ./dist-newstyle
          key: ${{ runner.os }}-${{ matrix.ghc-version }}-${{ hashFiles('tasty-hedgehog.cabal') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.ghc-version }}-
            ${{ runner.os }}-

      - name: Update package list
        run: cabal update

      - name: Build
        run: cabal build

      - name: Run tests
        run: cabal test
